/*
Author: Ayla Campbell
Date: 09/21/2023
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2, h3 div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #fffef2;
}

img {
    max-width: 100%;
    display: inline-block;
    margin: auto;
}

/* Style rules for mobile viewport */


/* Style rule for header */
header {
    width: 100%;
    text-align: center;
    font-size: 1.75em;
    background-color: #fffef2;
    font-family: 'Onest', sans-serif;
}

/* Style ryles for navigation area */
nav {
    background-color: #659DBD;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
/*
    display: inline-block;
*/
    display: block;
    font-size: 1.5em;
    border-top: 1px solid #fffef2;
}

nav li a {
    display: block;
    color: #fffef2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    text-decoration: none;
}

/*show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
    text-align: left;
}

.tablet-desktop {
    display: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: Verdan, Arial, sans-serif;
    font-size: 1.2em;
    margin: 1em;
    text-align: center;
}


#college {
    text-align:left;
}

#about {
    text-align: left;
}

/*#education {
    text-align: left;
} */

.tel-link a {
    text-decoration: none;
}

.external-link {
    text-decoration: none;
}

.round {
    border-radius: 8px;
}


/* Style rules for footer content */
footer {
    font-size: 1em;
    text-align: center;
    color: #fffef2;
    padding: 0;
    background-color: #659dbd;
}